@page
@model VolunteerOrganizer.Pages.EventSearchModel
@{
    <div id="searchForm">
        <p>Please enter the key of the event you would like to view here:</p>
        <form method="post">
            <input type="text" name="SearchKey">
            <input type="submit">
        </form>
    </div>
    <div id="dataDisplay">
        @if (@Model.SearchExecuted)
        {
            // Here, it will check whether the data was successfully obtained, and display it
            @if (@Model.DataObtained)
            {
                <ul>
                    @for (int i = 0; i < @Model.queryData.Rows.Count; i++)
                    {
                        <li>@Model.queryData.Rows[i][0]: @Model.queryData.Rows[i][1]</li>
                    }
                </ul>
            }
            else
            {
                <p>No data could be found for your query.</p>
            }
        }
        else
        {
            <p>No data obtained yet.</p>
        }
    </div>
}
