@page "{userId?}"
@model VolunteerOrganizer.Pages.LoggedInPageModel
@{
}

<p>Hello there, @Model.LoggedInUser.FirstName @Model.LoggedInUser.LastName</p>

@if (@Model.AssociatedEvents.Count != 0)
{    
    @for (int i = 0; i < @Model.AssociatedEvents.Count; i++) 
    {
        <a>@Model.AssociatedEvents[i].Item1</a>
    }
}
else 
{
    <p>You are not associated with any events yet.</p>
}

<div id="addEventMenu">
    <a href="/EventCreator/@Model.LoggedInUser.UserGuid">Click here to create a new event.</a>
    <a>Click here to volunteer for an existing event.</a>
</div>