@page "{eventId}/{projectId?}"
@model VolunteerOrganizer.Pages.ProjectEditorModel
@{
}
<!-- Return to Event Editor Button -->
<form method="post">
    <label for="returnButton">
        Return to Event Editor:
        <input type="submit" name="returnButton" class="submitStyle" asp-page-handler="ReturnButton" />
    </label>
</form>


@if (!@Model.ModifyingProject)
{    
    <!-- Project Data Menu -->
    <div id="projectDataMenu" class="divStyle">
        <p>Project Name: @Model.EditingProject.ProjectName</p>
        <p>Project Description: @Model.EditingProject.ProjectDescription</p>

        <form method="post">
            <input type="submit" class="submitStyle" asp-page-handler="EditProject">
        </form>
    </div>
}
else
{
    <!-- Project Editing Menu -->
    <div id="projectEditingMenu" class="divStyle">
        <form method="post">
            <label for="projectNameText">
                Project Name:
                <input type="text" name="projectNameText" value="@Model.EditingProject.ProjectName">
            </label>

            <label for="projectDescriptionText">
                Project Description:
                <input type="text" name="projectDescriptionText" value="@Model.EditingProject.ProjectDescription">
            </label>

            <input type="submit" class="submitStyle" asp-page-handler="UpdateProject">
        </form>
    </div>
}

<!-- Instance Editing Menu -->
<div id="instanceDataMenu" class="divStyle">
    @if (@Model.EditingProject.ProjectInstances.Count == 0)
    {
        <p>This project does not have any instances.</p>
    }

    <ul>
        @for (int i = 0; i < @Model.EditingProject.ProjectInstances.Count; i++)
        {
            <li>@Model.EditingProject.ProjectInstances[i].InstanceTime</li>
            <ul>
            @for (int x = 0; x < @Model.EditingProject.ProjectInstances[i].AssignedVolunteers.Count; x++)
                {
                    <li>@Model.EditingProject.ProjectInstances[i].AssignedVolunteers[x].GetName()</li>
                }
            </ul>
            }
    </ul>
    @if (!@Model.ModifyingProject)
    {        
        <form method="post">
            <input type="submit" name="newInstanceButton" value="Add New Instance" class="submitStyle" asp-page-handler="NewInstance" />
        </form>
    }
</div>

<!-- Add Instance Menu -->

<div id="addInstanceMenu" class="divStyle">
    @if (@Model.AddingInstance)
    {
           <form method="post">
               <label for="newInstanceTime">
                   Instance Time:
                   <input type="date" name="newInstanceTime">
               </label>
               
                @for (int i = 0; i < @Model.AssociatedEvent.GetAssignedVolunteers().Count; i++)
                {
                    <label for="volunteerCheckbox">
                        @Model.AssociatedEvent.GetAssignedVolunteers()[i].Item1;
                        <input type="checkbox" name="volunteerCheckbox" value="@Model.AssociatedEvent.GetAssignedVolunteers()[i].Item2">
                    </label>
                }

                <input type="submit" asp-page-handler="AddInstance" class="submitStyle" value="Add Project Instance">
           </form>
    }
</div>